:root {
/*paleta de colores*/
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

/*Globales*/
html {
    font-size: 62.5%; /*es un pequeño hack para las dimensiones de la pagina*/
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
/*con esto se soluciona el espacio de mas que se agrega con un padding al trabajar con los contenidos, bordes, etc*/
*, *:before, *:after{
    /*el * significa 'todos' */
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    color: var(--blanco);
    background-image: linear-gradient(to top, var(--oscuro) 0%, var(--gris) 70%, var(--blanco) 100%);
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.sombra {
    -webkit-box-shadow: 0px 5px 20px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 20px 5px rgba(0,0,0,1);
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,1);
    background-color: var(--blanco);
    color: #212121;
    padding: 2rem;
    border-radius: .5rem;
}
.boton {
    background-color: #0097a7;
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 780px) {
    .boton{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
}

/*Tipografias*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1, h2, h3 {
    text-align: center;
}

/*Titulos*/
.titulo {
    color: var(--oscuro)
}
.titulo span {
    /*freelancer*/
    font-size: 2rem;
    color: var(--oscuro);
}

/* Utilidades */
.w-sm-100{ /*width small 100%*/
    width: 100%;
}
@media (min-width:768px) {
    .w-sm-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}
.nav-bg {
    /*color nav*/
    background-color: var(--secundario);
}

/*Navegacion Principal*/
.navegacion-principal {
    /*como se ve el nav*/
    display: flex;
    flex-direction: column;
}
@media (min-width: 480px){
/*480px = celulares*/
/*768px = tablet*/
/*1140px = Laptop, pc de escritorio*/
/*1400px = television */
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-around;
    }
}
.navegacion-principal a{
    /*fuente*/
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.navegacion-principal a:hover{
    /*al asomar el mouse sobre el objeto*/
    background-color: #ffc107;
    color: #212121;
}

/*Hero*/
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative; /*el elemento padre siembre debe tener una posicion relativa para que el hijo tenga posicion absoluta*/
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .4); /*Anterior*/
    background-color: rgb( 0 0 0 / 50%); /*forma mas nueva, esta suplanta la anterior*/
    width: 100%;
    height: 100%;
/*codigo para alinear vertical y horizontalmente en todos mis proyectos*/
    display: flex; /*alineas horizontalmente, con justify-contenten, siempre que no lo cambies a column*/
    flex-direction: column;/*pero cuendo lo cambias de "row", que es el default, a column, entonces align-items, alinea horizontalmente*/
    align-items: center; /*alineas verticalmente, normalmente, pero en este caso es horizontalmente*/ 
    justify-content: center; /*alineas verticalmente*/ 
}
.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
}
.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}

/* Footer*/
footer p {
    font-size: small;
    text-align: center;
}

/* Scroll-Snap*/
.navegacion-principal,
.servicios,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
/* Servicios*/
@media (min-width:768px){
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /*1 fraccion = 33.3% */
        column-gap: 1rem;
    }
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    font-style: 700;
    color: var(--secundario)
}
.servicio p{
    line-height: 2; /*interlineado*/
    text-align: center;
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Contacto*/
.formulario{
    background-color: var(--gris);
    width: min( 60rem , 100% );
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.5rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2rem;
    color: var(--primario);
}
@media (min-width:480px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1/3; /* es un selector. desde donde hasta donde*/
    }
}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}
.campo .input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;

}
.campo textarea{
    height: 15rem;
    padding-bottom: 2rem;
}